##
## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##

#foreach($n in $intf.iterator())
#if($n.isMessage())
#if(!$n.isHidden())
#set ( $str="$intf.fqname().$n.name()" )
$helper.getKeywordForWireshark($str)
#if(! $n.isOneway())
#set ( $str="$intf.fqname()._result_$n.name()" )
$helper.getKeywordForWireshark($str)
#end
#end
#end
#end
#foreach($n in $intf.iterator() )
#if ($n.isStruct() || $n.isEnumx() || $n.isExcept())
$helper.getKeywordForWireshark($n.fqname().toString())
#end
#end
#set ($tmp = $helper.resetHistory())
#foreach($n in $intf.iterator())
#if(!$n.isHidden())
#if(!$n.isBuiltin())
#foreach($p in $n.iterator())
#if(!$helper.historyContains($p.name().toString()))
$helper.getKeywordForWireshark($p.name().toString())
#set ($tmp = $helper.addStringToHistory($p.name().toString()))
#end
#end
#end
#end
#end
$helper.getKeywordForWireshark("_Etch_RuntimeException")
$helper.getKeywordForWireshark("_Etch_AuthException")
$helper.getKeywordForWireshark("_exception")
$helper.getKeywordForWireshark("_Etch_List")
$helper.getKeywordForWireshark("_Etch_Map")
$helper.getKeywordForWireshark("_Etch_Set")
$helper.getKeywordForWireshark("_Etch_Datetime")
$helper.getKeywordForWireshark("msg")
$helper.getKeywordForWireshark("_messageId")
$helper.getKeywordForWireshark("_inReplyTo")
$helper.getKeywordForWireshark("result")
$helper.getKeywordForWireshark("keys")
$helper.getKeywordForWireshark("values")
$helper.getKeywordForWireshark("dateTime")
$helper.getKeywordForWireshark("keysAndValues")