package org.apache.etch.bindings.python.compiler;

/**
 * The version info of this Etch backend (compiler).
 */
public interface CompilerVersion
{
	// This file is edited by the production build system to replace the value
	// of VERSION below with whatever it wants the version string to actually be.
	
	/** The version of this Etch backend (compiler) */
	public String VERSION = "python @EtchLongVersion@ (@EtchBuildTag@)";
}
