using System;

namespace Etch
{
	public class BuildConst
	{
	    public const string ReleaseVersion   = "@ReleaseMajor@.@ReleaseMinor@.@ReleasePatch@";
        public const string BuildID          = "@BuildID@";
        public const string BuildIDFQ        = "@BuildIDFQ@";
        public const string BuildMajorNumber = "@ReleaseMajor@";
        public const string BuildMinorNumber = "@ReleaseMinor@";
        public const string BuildPatchNumber = "@ReleasePatch@";
        public const string BuildNumber      = "@BuildNumber@";
        public const string BuildReleaseType = "@BuildReleaseType@";
	}
}
